@import url(http://fonts.googleapis.com/css?family=Orbitron);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600);
@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
.a {
  font-family:"Source Sans Pro"; 
  padding:10px 10% 0; 
}
.b {
  padding:20px 0 0; 
}
.c {
}
.d {
}
.e {
  width:40px; height:40px; 
  display:inline-block; 
}
.f {
  width:7em; 
  display:inline-block; 
  padding:0 0 0 20px; 
  vertical-align:middle; 
}
.g {
  width:4em; 
  display:inline-block; 
  vertical-align:middle; 
}
.h {
}
.i {
}
.j {
  background-position:-2px; background-size:48px; 
  border-color:hsl(0,0%,20%); border-radius:5px; border-style:solid; border-width:1px; 
  width:44px; height:44px; 
  display:inline-block; 
  vertical-align:middle; 
}
.k {
  background-position:-5px; background-size:80px; 
  border-color:hsl(0,0%,20%); border-radius:10px; border-style:solid; border-width:2px; 
  width:70px; height:70px; 
  cursor:pointer; 
  display:block; 
  margin:0 0 1em; 
  position:relative; 
}
.l {
  width:22px; height:22px; 
  cursor:default; 
  display:block; 
  font-weight:bold; font-size:20px; font-family:Arial; color:hsl(0,0%,94%); 
  position:absolute; bottom:4px; right:4px; 
  text-align:center; text-shadow:0 0 1px hsl(0,0%,0%); 
  -webkit-user-select:none; -ms-user-select:none; -o-user-select:none; -moz-user-select:none; user-select:none; 
}
.l:selection {
  background-color:hsla(0,0%,0%,0.0); 
}
.l::-moz-selection {
  background-color:hsla(0,0%,0%,0.0); 
}
.m {
  width:13em; 
  display:table-cell; 
  vertical-align:top; 
}
.n {
  display:table-cell; 
}
.o {
  display:block; 
  margin:0 0 1em; 
}
.p {
  display:block; 
  margin:0 0 4px; 
}
.q {
  width:5em; 
  display:table-cell; 
}
.r {
  width:50px; 
  display:table-cell; 
}
.s {
  cursor:pointer; 
  display:table-cell; 
  padding:0 9px 0 0; 
}
.t {
  background-size:45px; 
  border-color:hsl(0,0%,20%); border-radius:10px; border-style:solid; border-width:2px; 
  width:45px; height:45px; 
  display:block; 
}
.u {
  border-color:hsl(0,0%,0%); border-style:solid; border-width:1px; 
  width:45px; height:5px; 
  display:table; 
  margin:2px 0 5px; 
}
.v {
  background-image:-webkit-linear-gradient(hsla(46,88%,53%,0.5),hsla(46,99%,32%,0.5)); background-image:-ms-linear-gradient(hsla(46,88%,53%,0.5),hsla(46,99%,32%,0.5)); background-image:-o-linear-gradient(hsla(46,88%,53%,0.5),hsla(46,99%,32%,0.5)); background-image:-moz-linear-gradient(hsla(46,88%,53%,0.5),hsla(46,99%,32%,0.5)); background-image:linear-gradient(hsla(46,88%,53%,0.5),hsla(46,99%,32%,0.5)); 
  border-left-color:hsl(0,0%,0%); border-left-style:solid; border-left-width:1px; 
  width:15px; height:5px; 
  display:table-cell; 
}
.v:first-child {
  border-style:none; 
}
.w {
  height:60px; 
  display:table-cell; 
  vertical-align:top; 
}
.x {
  font-weight:bold; 
  margin:0 0.5em 0 0; 
}
.y {
  display:inline-block; 
  margin:0 0 0 0.7em; 
}
.z {
  display:block; 
  font-size:smaller; 
  line-height:140%; 
  margin:0.4em 0 0; 
}
.A {
  background-image:-webkit-linear-gradient(hsl(46,88%,53%),hsl(46,99%,32%)); background-image:-ms-linear-gradient(hsl(46,88%,53%),hsl(46,99%,32%)); background-image:-o-linear-gradient(hsl(46,88%,53%),hsl(46,99%,32%)); background-image:-moz-linear-gradient(hsl(46,88%,53%),hsl(46,99%,32%)); background-image:linear-gradient(hsl(46,88%,53%),hsl(46,99%,32%)); 
}
.B {
  opacity:0.5; 
}
.C {
  margin:0 1em 0 0; 
}
.D {
  font-size:smaller; 
}
.E {
  opacity:0.7; 
  display:inline-block; 
  margin:0 3px; 
  text-align:center; 
}
.F {
  color:hsl(46,99%,32%); 
}
.G {
  opacity:0.4; 
  margin:0 1px; 
}
.H {
  font-weight:bolder; 
}
.I {
  text-align:center; 
}
.J {
  color:hsl(194,69%,32%); 
}
.I+.J {
  margin:0 0 0 0.4em; 
}
.J+.J {
  margin:0 0 0 0.4em; 
}
.K {
  background-color:hsl(0,0%,100%); 
  border-color:hsl(0,0%,80%); border-radius:4px; border-style:solid; border-width:1px; 
  width:200px; height:20px; box-shadow:inset 0 1px 1px hsla(0,0%,0%,0.075); 
  display:inline-block; 
  font-size:14px; color:hsl(0,0%,33%); 
  line-height:20px; 
  margin:0 0 10px; 
  padding:4px 6px; 
  vertical-align:middle; 
  -webkit-transition-property:all; -ms-transition-property:all; -o-transition-property:all; -moz-transition-property:all; transition-property:all; -webkit-transition-timing-function:linear; -ms-transition-timing-function:linear; -o-transition-timing-function:linear; -moz-transition-timing-function:linear; transition-timing-function:linear; -webkit-transition-duration:0.2s; -ms-transition-duration:0.2s; -o-transition-duration:0.2s; -moz-transition-duration:0.2s; transition-duration:0.2s; 
}
.K:focus {
  border-color:hsla(206,80%,62%,0.8); 
  box-shadow:inset 0 1px 1px hsla(0,0%,0%,0.075),0 0 8px hsla(206,80%,62%,0.6); 
  outline-style:none; 
}
.L {
  background-color:hsla(0,0%,0%,0.0); background-position:left top; background-size:contain; 
  width:70px; height:70px; 
  display:inline-block; 
  outline-style:none; 
  position:relative; 
  -webkit-transition-property:all; -ms-transition-property:all; -o-transition-property:all; -moz-transition-property:all; transition-property:all; -webkit-transition-timing-function:ease-in-out; -ms-transition-timing-function:ease-in-out; -o-transition-timing-function:ease-in-out; -moz-transition-timing-function:ease-in-out; transition-timing-function:ease-in-out; -webkit-transition-duration:0.2s; -ms-transition-duration:0.2s; -o-transition-duration:0.2s; -moz-transition-duration:0.2s; transition-duration:0.2s; 
}
.L:after {
  background-color:hsl(0,0%,100%); 
  width:70px; height:70px; opacity:0.15; 
  content:''; 
  display:block; 
  position:absolute; 
}
.L:hover:after {
  opacity:0.0; 
}
.M {
  background-color:hsla(0,0%,100%,0.6); 
  border-color:hsl(0,0%,2%); border-radius:5px; border-style:solid; border-width:4px; 
  width:100px; opacity:0.0; box-shadow:1px 1px 2px hsla(0,0%,0%,0.1); 
  font-weight:bold; font-size:18px; font-family:"Yanone Kaffeesatz"; 
  line-height:20px; 
  margin:0 0 0 -50px; 
  padding:5px; 
  pointer-events:none; 
  position:absolute; bottom:100px; left:50%; 
  text-align:center; text-shadow:1px 1px 1px hsla(0,0%,0%,0.1); 
  -webkit-transition-property:all; -ms-transition-property:all; -o-transition-property:all; -moz-transition-property:all; transition-property:all; -webkit-transition-timing-function:ease-in-out; -ms-transition-timing-function:ease-in-out; -o-transition-timing-function:ease-in-out; -moz-transition-timing-function:ease-in-out; transition-timing-function:ease-in-out; -webkit-transition-duration:0.2s; -ms-transition-duration:0.2s; -o-transition-duration:0.2s; -moz-transition-duration:0.2s; transition-duration:0.2s; -webkit-transition-delay:0.15s; -ms-transition-delay:0.15s; -o-transition-delay:0.15s; -moz-transition-delay:0.15s; transition-delay:0.15s; 
}
.M:before {
  border-color:hsla(0,0%,0%,0.0); border-style:solid; border-width:10px; 
  border-top-color:hsl(0,0%,0%); border-top-style:solid; border-top-width:10px; 
  width:0; height:0; 
  content:''; 
  display:block; 
  position:absolute; bottom:-24px; left:36px; 
}
*:hover>.M {
  opacity:0.9; 
  bottom:70px; 
}
.N {
  opacity:0.0; 
  margin:0 -70px 0 0; 
}
.O {
  display:table; 
  margin:0 0 15px; 
}
.P {
  cursor:pointer; 
  display:table-cell; 
  padding:0 9px 0 0; 
}
.Q {
  background-position:-1px; background-size:46px; 
  border-color:hsl(0,0%,20%); border-radius:5px; border-style:solid; border-width:1px; 
  width:44px; height:44px; 
  display:inline-block; 
  vertical-align:middle; 
}
.R {
  height:60px; 
  display:table-cell; 
  vertical-align:top; 
}
.S {
  display:block; 
  font-family:"Source Sans Pro"; 
  margin:0 0 0.4em; 
}
.T {
  font-weight:bold; 
  margin:0 0.5em 0 0; 
}
.U {
  margin:0 0.5em 0 0; 
}
.V {
}
.W {
  display:block; 
  font-size:smaller; font-family:"Source Sans Pro"; 
  margin:0 0 0.2em; 
}
.X {
  background-image:-webkit-linear-gradient(hsl(0,0%,27%),hsl(0,0%,7%)); background-image:-ms-linear-gradient(hsl(0,0%,27%),hsl(0,0%,7%)); background-image:-o-linear-gradient(hsl(0,0%,27%),hsl(0,0%,7%)); background-image:-moz-linear-gradient(hsl(0,0%,27%),hsl(0,0%,7%)); background-image:linear-gradient(hsl(0,0%,27%),hsl(0,0%,7%)); 
  border-color:hsl(0,0%,7%); border-radius:6px; border-style:solid; border-width:1px; 
  box-shadow:0 1px 1px hsla(0,0%,0%,0.15); 
  margin:30px 0; 
}
.Y {
  border-right-color:hsl(0,0%,7%); border-right-style:solid; border-right-width:1px; 
  z-index:1; min-width:120px; 
  display:inline-block; 
  position:relative; 
  text-align:center; 
}
.Z {
  display:block; 
  font-weight:bold; font-size:12px; font-family:Orbitron; color:hsl(0,0%,60%); 
  padding:12px 20px; 
  text-decoration:none; text-shadow:1px 0 0 hsl(0,0%,0%),0 1px 0 hsl(0,0%,0%); 
}
.Z:hover {
  color:hsl(0,0%,97%); 
}
.ba {
  background-color:hsl(0,0%,27%); background-image:-webkit-linear-gradient(hsl(0,0%,27%),hsl(0,0%,7%)); background-image:-ms-linear-gradient(hsl(0,0%,27%),hsl(0,0%,7%)); background-image:-o-linear-gradient(hsl(0,0%,27%),hsl(0,0%,7%)); background-image:-moz-linear-gradient(hsl(0,0%,27%),hsl(0,0%,7%)); background-image:linear-gradient(hsl(0,0%,27%),hsl(0,0%,7%)); 
  border-radius:3px; 
  width:120px; opacity:0.0; box-shadow:0 -1px 0 hsla(0,0%,100%,0.3); 
  list-style:none; 
  margin:20px 0 0; 
  padding:0; 
  position:absolute; top:42px; left:0; 
  -webkit-transition-property:all; -ms-transition-property:all; -o-transition-property:all; -moz-transition-property:all; transition-property:all; -webkit-transition-timing-function:ease-in-out; -ms-transition-timing-function:ease-in-out; -o-transition-timing-function:ease-in-out; -moz-transition-timing-function:ease-in-out; transition-timing-function:ease-in-out; -webkit-transition-duration:0.2s; -ms-transition-duration:0.2s; -o-transition-duration:0.2s; -moz-transition-duration:0.2s; transition-duration:0.2s; -webkit-transition-delay:80ms; -ms-transition-delay:80ms; -o-transition-delay:80ms; -moz-transition-delay:80ms; transition-delay:80ms; 
  visibility:hidden; 
}
*:hover>.ba {
  opacity:1.0; 
  margin:0; 
  visibility:visible; 
}
.bb {
  border-width:0; 
  border-bottom-color:hsl(0,0%,32%); border-bottom-style:solid; border-bottom-width:1px; 
  display:block; 
}
.bb:hover {
  background-color:hsl(197,99%,37%); background-image:-webkit-linear-gradient(hsl(197,97%,47%),hsl(197,99%,37%)); background-image:-ms-linear-gradient(hsl(197,97%,47%),hsl(197,99%,37%)); background-image:-o-linear-gradient(hsl(197,97%,47%),hsl(197,99%,37%)); background-image:-moz-linear-gradient(hsl(197,97%,47%),hsl(197,99%,37%)); background-image:linear-gradient(hsl(197,97%,47%),hsl(197,99%,37%)); 
}
.bb:hover:first-child {
  border-radius:3px 3px 0 0; 
}
.bb:hover:last-child {
  border-radius:0 0 3px 3px; 
}
