@import url(http://fonts.googleapis.com/css?family=Orbitron);
@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
.b {
  border:0 ; 
  border-bottom:1px solid rgba(81,81,81,1.0); 
  display:block; 
}
.b:hover {
  background-color:rgba(1,134,186,1.0); background-image:linear-gradient(rgba(4,172,236,1.0),rgba(1,134,186,1.0)); 
}
.b:hover:first-child {
  border-radius:3px; 
}
.b:hover:last-child {
  border-radius:3px; 
}
.d {
  background-color:rgba(0,0,0,0.0); background-repeat:no-repeat; background-position:left top; background-size:contain; 
  width:70px; height:70px; 
  display:inline-block; 
  outline:none ; 
  position:relative; 
  transition-property:all; transition-timing-function:ease-in-out; transition-duration:0.2s; 
}
.d:after {
  background-color:rgba(255,255,255,1.0); 
  width:70px; height:70px; opacity:0.15; 
  content:''; 
  display:block; 
  position:absolute; 
}
.d:hover:after {
  opacity:0.0; 
}
.a {
  background-color:rgba(68,68,68,1.0); background-image:linear-gradient(rgba(68,68,68,1.0),rgba(17,17,17,1.0)); 
  border-radius:3px; 
  width:120px; opacity:0.0; box-shadow:0 -1px 0 rgba(255,255,255,0.3); 
  list-style:none; 
  margin:20px 0 0; 
  padding:0; 
  position:absolute; top:42px; left:0; 
  transition-property:all; transition-timing-function:ease-in-out; transition-duration:0.2s; transition-delay:80ms; 
  visibility:hidden; 
}
*:hover>.a {
  opacity:1.0; 
  margin:0; 
  visibility:visible; 
}
.h {
  border-right:1px solid rgba(34,34,34,1.0); 
  z-index:1; min-width:120px; 
  display:inline-block; 
  padding:0; 
  position:relative; 
  text-align:center; 
}
.g {
  background-color:rgba(17,17,17,1.0); background-image:linear-gradient(rgba(68,68,68,1.0),rgba(17,17,17,1.0)); 
  border:1px solid rgba(34,34,34,1.0); border-radius:6px; 
  width:960px; box-shadow:0 1px 1px rgba(119,119,119,1.0); 
  margin:60px auto; 
}
.f {
  opacity:0.0; 
  margin:0 -70px 0 0; 
}
.e {
  background-color:rgba(255,255,255,0.6); 
  border:4px solid rgba(5,5,5,1.0); border-radius:5px; 
  width:100px; opacity:0.0; box-shadow:1px 1px 2px rgba(0,0,0,0.1); 
  font-weight:bold; font-size:18px; font-family:"Yanone Kaffeesatz"; 
  line-height:20px; 
  margin:0 0 0 -50px; 
  padding:5px; 
  pointer-events:none; 
  position:absolute; bottom:100px; left:50%; 
  text-align:center; text-shadow:1px 1px 1px rgba(0,0,0,0.1); 
  transition-property:all; transition-timing-function:ease-in-out; transition-duration:0.2s; transition-delay:0.15s; 
}
.e:before {
  border:10px solid rgba(0,0,0,0.0); 
  border-top:10px solid rgba(0,0,0,1.0); 
  width:0; height:0; 
  content:''; 
  display:block; 
  position:absolute; bottom:-24px; left:36px; 
}
*:hover>.e {
  opacity:0.9; 
  bottom:70px; 
}
.c {
  display:block; 
  font-weight:bold; font-size:12px; font-family:Orbitron; color:rgba(153,153,153,1.0); 
  padding:12px 20px; 
  text-decoration:none; text-align:center; text-shadow:0 1px 0 rgba(0,0,0,1.0); 
}
.c:hover {
  color:rgba(250,250,250,1.0); 
}
